.app {
  height: 100%;
}

.app .header {
  background-color: transparent;
}

.app .header i {
  float: right;
  height: 100%;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.app > main {
  overflow-y: auto;
}

.app .main {
  box-sizing: border-box;
  padding: 12px;
}

.required {
  border-color: #009960 !important;
}

.start {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start > * {
  flex: 1;
  height: 100%;
  cursor: pointer;
}

.start svg {
  font-size: 1.8em;
}

.start > :first-child {
  margin-right: 16px;
}

.start .ant-card-meta-description {
  font-size: 0.8em;
}
