.start {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start > * {
  flex: 1;
  height: 100%;
  cursor: pointer;
}

.start svg {
  font-size: 1.8em;
}

.start :not(:first-child) {
  margin-left: 16px;
}

.start .ant-card-body {
  height: 100%;
  display: flex;
  align-items: center;
}

.start .ant-card-meta-description {
  font-size: 0.8em;
}

.start .active {
  position: relative;
  background-color: #0d4f8c;
  color: #fff;
}

.start .active * {
  color: #fff;
}

.start .active::after {
  position: absolute;
  content: 'Paste Here';
  bottom: 4px;
  left: 12px;
  color: #ccc;
}
